.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap {
  gap: 0.4rem;
}

.padding {
  padding: 0.5rem;
}

.space-between {
  justify-content: space-between;
}

.center-text {
  text-align: center;
}
