/* TODO: use utils css */
.add-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
}

.add-user-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.add-user-form h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add-user-form label {
  display: block;
  margin-bottom: 10px;
}

.add-user-form input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-user-form button {
  width: 100%;
  padding: 10px 15px;
  background: #ff780b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-user-form button:hover {
  background: #ffa726;
}
