.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.not-found a {
  color: black;
  border: black 1px solid;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.208);
  transition: all 0.1s linear;
  text-decoration: none;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.not-found a:hover {
  color: black;
  transform: scale(0.9);
}

.not-found p {
  color: black;
}
.not-found h1 {
  color: black;
}
